@tailwind base;
@tailwind components;
@tailwind utilities;

::-webkit-scrollbar {
    width: 3px;
}
::-webkit-scrollbar-track {
    background: transparent;
}
::-webkit-scrollbar-thumb {
    background-color: var(--color-primary);
    border-radius: 2000px;
    border: 3px solid transparent;
    margin-top: auto;
}